

{{define "main"}}
  <div class="layui-fluid">   
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-block">
              <input type="text" name="account" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
<!--          <div class="layui-inline">-->
<!--            <label class="layui-form-label">手机</label>-->
<!--            <div class="layui-input-block">-->
<!--              <input type="text" name="telphone" placeholder="请输入" autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="layui-inline">-->
<!--            <label class="layui-form-label">邮箱</label>-->
<!--            <div class="layui-input-block">-->
<!--              <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">-->
<!--            </div>-->
<!--          </div>-->
          <div class="layui-inline">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
              <select name="group_id">

                <option value="">请选择</option>
                {{range $v := .group}}

                <option value={{str2int $v.Id}}>{{$v.Name}}</option>
                {{end}}
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="LAY-user-back-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-admin" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-admin" data-type="add">添加</button>
        </div>
        
        <table id="LAY-user-back-manage" lay-filter="LAY-user-back-manage"></table>


      </div>
    </div>
  </div>

  {{end}}

